####-*.patch
*.pyc
*.swp
build/
dist/
*.egg/
/electrum.py
contrib/pyinstaller/
Electron_Cash.egg-info/
.devlocaltmp/
*_trial_temp
packages
env/
.tox/
.buildozer/
bin/
/app.fil
tmp/
lib/*.so.0

# tox files
.cache/
.coverage

# MacOSX
.DS_Store/
.DS_Store
icons/.DS_Store/
xcuserdata/

# IntelliJ Pycharm IDE
/.idea
contrib/osx/libsecp256k1.0.dylib
contrib/osx/libusb-1.0.dylib
contrib/osx/libzbar.0.dylib
ViLight.egg-info/dependency_links.txt
ViLight.egg-info/PKG-INFO
ViLight.egg-info/requires.txt
ViLight.egg-info/SOURCES.txt
ViLight.egg-info/top_level.txt
